*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #071B2A;
}

body {
    background-color: #E5E5E5;
    padding: 30px;
    font-family: 'Open Sans';
}